.grid-container-inadimplencia .numeros-inadimplencia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
    flex-direction: column;
    font-size: 2.5vh;
}

.numeros-inadimplencia .inadimplencia-real{
    font-size: 5vh;
    color: red;
}

.numeros-inadimplencia p{
    margin-top: -0.3vh;
}